{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-pagina-jogadores">
    <h1 class="titulo">{% if form.instance.pk %}Editar{% else %}Novo{% endif %} Jogador</h1>
    
    <div class="form-card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <div style="display: flex; gap: 10px; margin-top: 30px;">
                <button type="submit" class="btn" style="flex: 2;">
                    <i class='bx bx-save'></i> Salvar Jogador
                </button>
                <a href="{% url 'lista_jogadores' %}" class="btn-outline" style="flex: 1; text-align: center;">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}