{% extends 'base.html' %}
{% block title %}Início - Flamengo{% endblock %}
{% load static %}
{% block content %}
           <div class="home_text">
        <h1>Flamengo</h1>
        <h3>O melhor time do Brasil!</h3>
    </div>

    <section class="home container" style="background-image: url('{% static 'img/img-principal.jpg' %}');">
    </section>

    <h1 class="titulo">Principais notícias</h1>
    <section class="post container">
        <div class="post-caixa">
            <img src="{% static 'img/img-01-principal.webp' %}" class="post-img"> 
            <a href="https://www.flamengo.com.br/noticias/futebol/flamengo-abre-vendas-antecipadas-para-cinco-jogos-no-maracana" class="post-titulo">Vendas para o Maracanã</a>
        </div>
        
        <div class="post-caixa">
            <img src="{% static 'img/img-02-principal.webp' %}" class="post-img"> 
            <a href="https://www.flamengo.com.br/noticias/basquete" class="post-titulo">Alexey Borges segue no FlaBasquete</a>
        </div>

        <div class="post-caixa">
            <img src="{% static 'img/img-03-principal.webp' %}" class="post-img"> 
            <a href="https://www.flamengo.com.br" class="post-titulo">Sócios visitam o Ninho do Urubu</a>
        </div>
    </section>

    <h1 class="titulo">Fotos</h1>  
    <section class="post container">
        <div class="post-caixa">
            <img src="{% static 'img/img-04-fotos.webp' %}" class="post-img"> 
            <a href="https://www.flamengo.com.br/fotos/futebol/treino-futebol-feminino-flamengo---ct-das-vargens---19-01-26" class="post-titulo">Time feminino</a>
        </div>
         <div class="post-caixa">
            <img src="{% static 'img/img-05-fotos.webp' %}" class="post-img"> 
            <a href="https://www.flamengo.com.br" class="post-titulo">César Cielo na Gávea</a>
        </div>
        <div class="post-caixa">
            <img src="{% static 'img/img-06-fotos.webp' %}" class="post-img"> 
            <a href="https://www.flamengo.com.br" class="post-titulo">Flamengo x América</a>
        </div>
{% endblock %}